@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "variables.css";
@import "globals.css";

.intro__content {
	flex-basis: 50%;
	margin-right: 5%;
}

.intro__reg {
	flex-basis: 45%;
}

.intro__prop {
	width: 100%;
	background-color: var(--blue);
	padding: 1.5625em 3.75rem;
	text-align: center;
	margin-bottom: 1.5rem;
	border-radius: .3135rem;
	box-shadow: 0 .3135rem 0 rgba(0,0,255,.2);
}

.form {
	font-size: 75%;
	background-color: green;
	padding: 2.5em;
	border-radius: .3125em;
	background-color: var(--white);
	box-shadow: 0 .3125em 0 rgba(0,0,255,.2);
}
	.control {
		position: relative;
		width: 100%;
	}

	.control:not(:last-of-type) {
		margin-bottom: 1.25em;
	}

	.control__error-text ,
	.control:not(:last-of-type)::after {
		transition: .5s;
		opacity: 0;
	}

	.control:not(:last-of-type)::after {
		content: "";
		position: absolute;
		right: 0;
		top: 30%;
		width: 1.5em;
		height: 1.5em;
		border-radius: 50%;
		background:var(--red) url("../../images/icon-error.svg") no-repeat center center / cover;
		transform: translate(-50%,-30%);
	}
		.control__input {
			height: 3.4375em;
			border-radius: .3125em;
			outline: none;
			border:.0625em solid var(--grayish-blue);
		}

		.control__text {
			padding-left: 1.875em;
		}

		.control > * {
			width: inherit;
		}

		.control__error-text {			
			
			text-align: right;
		}

		.term-text {
			color: var(--grayish-blue);
			font-weight: var(--fs-s);
			font-size: .6875em;
			text-align: center;
		}

		.term-text small {
			display: inline-block;
			font-weight: var(--fs-l);
		}




@media screen and (max-width:600px) {
	html {
		font-size: 75%;
	}

	.container {
		width: 90%;
	}

	body {
		display: block;
		height: auto;
		padding: 3.75rem 0;
		background:var(--red) url("../../images/bg-intro-mobile.png") no-repeat center center / cover;
	}
	.intro {
		flex-direction: column;
	}
		.intro__content {
			text-align: center;
		}

		.intro__reg {
			margin-top: 4.375rem;
		}
}
